.MainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: rgb(239, 239, 239);
}
.SignupAndLogin_Container {
  border: 1px solid transparent;
  width: 74vw;
  height: 85vh;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 0px 30px 0px #00000026;
}

.SignupAndLogin_Container > h1 {
  text-align: center;
  color: #474444;
  font-family: "Jomhuria", serif;
  font-size: 80px;
  font-weight: 400;
  margin: 0;
}
.ChooseSingup_Or_Login_Box {
  border: 1px solid transparent;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 2% auto;
}
.ChooseSingup_Or_Login_Box > button {
  cursor: pointer;
  display: block;
  padding: 1.5% 13%;
  border-color: transparent;
  border-radius: 5px;
  background-color: white;
}
.ChooseSingup_Or_Login_Box > button:hover {
  background: rgba(84, 101, 251, 0.24);
}
.signUp {
  box-shadow: 0 0 50px 0 rgba(0, 25, 255, 0.24);
}
.logIn {
  box-shadow: 0 0 50px 0 rgba(0, 25, 255, 0.24);
}
